body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.black-back {
  background-color: #000000;
  color: #FFFFFF;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 24px;
}
